.NavbarItems {
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  justify-self: start;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.login-btn {
  align-items: flex-end;
}
